@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Depuis que vous utilisez l'application, vous êtes venu @TempData["nbAcces"] fois sur cette page.</p>
</div>
