@{
    ViewData["Title"] = "Privacy Policy";
}

@model Razor.ViewModels.MessageVM
<p>Affichage via model : @Model.Message</p>


<h1>@ViewData["Title"]</h1>
<p> Affichage du message du TempData : @TempData["Message"]</p>

<p>Use this page to detail your site's privacy policy.</p>
